.jumbotron {
    background: url(background-1.jpg);
    padding:100px;
    background-position-y: center;
}

.boxed {
    width:550px;
    height:55px;
    background-color: wheat;
    opacity: 90%;
    border-radius: 50px;
  }